#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.shlok-box {
  background-color: #121212;
  border: 2px solid #ccc;
  margin: 30px auto;
  padding: 20px;
  max-width: 600px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}
